/* .entry-page{
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;

} */

/* styles.css */
.blue-container {
    background-color: #007bff; /* Blue color */
  }
  
  .outer-container {
    background-color: #ffffff; /* White color */
  }
  
  

  